.slot-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.slot-card input[type="checkbox"] {
  margin-right: 10px;
}

.slot-time {
  margin-right: auto;
}
.slot-card.selected {
  background-color: #f0f0f0; /* Color de fondo gris claro */
}
.content-container {
  height: 200px; /* Establece un alto fijo para el contenedor */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}
